# local development
API_BASE_URL=http://localhost:5124
NEXT_PUBLIC_API_URL=http://localhost:5124

# Replace 'localhost' with your Docker Compose database service name (e.g., 'db')
ConnectionStrings__DefaultConnection="Server=fairai-mysql;Port=3306;Database=fairai;User=fairai;Password=fairai;"
